parameters:
    database_host:     db
    database_port:     5432
    database_name:     webhome-calendar
    database_user:     ndewez
    database_password: null

    rabbitmq_host:     'rabbitmq'
    rabbitmq_port:     5672
    rabbitmq_user:     'guest'
    rabbitmq_password: 'guest'

    secret:            ThisTokenIsNotSoSecretChangeIt

    webhome_auth_url: "http://localhost:8001/app_dev.php"
    webhome_app_origin: "http://localhost:8000"
    client_id: 1_6f8tjs2c4ps08os8s8ggs8kwwgksockwgwwo4kgggkckc4s84
    client_secret: 1bcfobqhkklcw0kcks808kkskoggcko8cocg40s4wkw0w8g848
