{% block _calendar_googleConnections_row %}
    {{- form_widget(form) -}}
{% endblock _calendar_googleConnections_row %}

{% block _calendar_googleConnections_widget %}
    {% import "@NdewezWebHomeCommon/macros/links.html.twig" as links %}
    {% for row in form %}
        <div class="col-md-10 appCalendarsEdit-element">
            {{ form_widget(row) }}
        </div>
        <div class="col-md-2 appCalendarsEdit-remove">
            {{ links.delete('actions.delete'|trans) }}
        </div>
    {% endfor %}
{% endblock _calendar_googleConnections_widget %}
